.MainInput {
  .form {
    height: 40px;
    display: flex;
    position: fixed;
    top: 72px;
    right: 15px;
    box-shadow: 0 0 0 black;
    border-radius: 8px;
    transition: all .35s;
    z-index: 9999;
    @media (min-width: 992px) {
      right: 40%;
      top: 5px;
    }
    input {
      height: 40px;
      padding: 0;
      border: 0;
      outline: none;
      font-weight: bold;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      width: 0;
      -webkit-transition: width 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      position: relative;
      top: 5px;
      left: 13px;
      font-weight: 400;
      &.search {
        width: 240px;
        padding: 0 12px;
      }
    }
    button {
      width: 50px;
      height: 50px;
      border: 0;
      font-weight: bold;
      background-color: white;
      border-left: 1px solid lightgrey;
      cursor: pointer;
      border-radius: 100%;
    }
  }
  .listAutocomplete {
    width: 81%;
    position: absolute;
    top: 5px;
    padding: 20px;
    z-index: -1;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        background: #000000c4;
        padding: 5px 10px;
        cursor: pointer;
      }
    }
  }
}