.topRated,
.upcoming,
.MovieList
{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: scroll;
  
}
@media (min-width: 992px) {
  .topRated,
  .upcoming,
  .MovieList
  {
    margin-top: 0;
    max-width: 1440px;
    
  }
}