$primary-color: #1DACE3; // cyan
$secondary-color: #E9327C; // magenta
$dark-color: #202020;
$dark-color2: #212020;

$secondary-color-alpha: #E9327C; // magenta

$shadow: 0 0 6px rgba(0, 0, 0, 0.6);

$transition-short: all 0.35s ease;