@import './assets/_mixins';
@import './assets/_variables';



.App {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
  .darkBg {
    background: $dark-color2;
    margin: 0;
    padding: 30px;
  }
  
  img {
    border-radius: 6px;
  }
}